* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgb(206, 241, 219);
  gap: 1rem;
}

#cifrao {
    border-radius: 0 30px 0 30px;
    padding: 1rem;
    background-color: rgb(130, 212, 134);
}
h1 {
    color: rgb(10, 61, 33);;
}
html {
  background-image: url(./background.avif);
  background-size: cover;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 0px 400px 0px 400px;
  height: auto;
  gap: 2rem;
  padding: 3rem;
  color: rgb(10, 61, 33);
  background-color: rgb(130, 212, 134);
}

form {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#input {
    font-weight: 700;
}
#input input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(10, 61, 33);;

}

form button {
    background-color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgb(10, 61, 33);
    color: rgb(10, 61, 33);;

}

form button:hover {
    background-color: rgb(10, 61, 33);
    color: white;
}

#selected { /* <div> */
    width: 95px;
    outline: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    height: 34px;
    overflow: hidden;
    font-weight: 700;
    font-size: 15px;
    color: rgb(10, 61, 33);
 }   

 #conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(13, 29, 7);
    margin-top: 30px;
    gap: 2rem;
    position: relative;
 }

 #lista li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 15px;
    color: rgb(10, 61, 33);
    margin-right: 10rem;

 }
 #lista button {
    background-color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    border: 1px solid rgb(10, 61, 33);
    color: rgb(10, 61, 33);
    margin-left: 25rem;
    position: absolute;
 }

 #lista button:hover{ 
    color: white;
    background-color: rgb(10, 61, 33);
 }
